#detail {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  z-index: 10000;
  background: black;
  display: none;
  overflow-y: auto;
}

#content{
  position: fixed;
  /*
    top: 50%;
    left: 50%;
    transform: translate(-50%, 1); 
  */
  color:#fff;
  display:grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: auto;
  margin: 20px;
}

.item-lab{
  grid-column-start: 1;
  grid-column-end: 1;
  font-weight: bold;
  margin: 10px;
  text-align: left;
  /* width: 250px!important; */
}

.item-content{
  grid-column-start: 2;
  grid-column-end: 2;
  margin: 10px;
  text-align: left;
  /* width: 250px!important; */
}