@font-face {
    font-family: 'lightcase';
    src: url('/css/fonts/lightcase.eot');
    src: url('/css/fonts/lightcase.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/lightcase.woff') format('woff'),
        url('/css/fonts/lightcase.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/css/fonts/Gilroy-Light.eot');
    src: url('/css/fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Gilroy-Light.woff2') format('woff2'),
        url('/css/fonts/Gilroy-Light.woff') format('woff'),
        url('/css/fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/css/fonts/Gilroy-RegularItalic.eot');
    src: url('/css/fonts/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Gilroy-RegularItalic.woff2') format('woff2'),
        url('/css/fonts/Gilroy-RegularItalic.woff') format('woff'),
        url('/css/fonts/Gilroy-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/css/fonts/Gilroy-SemiboldItalic.eot');
    src: url('/css/fonts/Gilroy-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Gilroy-SemiboldItalic.woff2') format('woff2'),
        url('/css/fonts/Gilroy-SemiboldItalic.woff') format('woff'),
        url('/css/fonts/Gilroy-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/css/fonts/Gilroy-Heavy.eot');
    src: url('/css/fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Gilroy-Heavy.woff2') format('woff2'),
        url('/css/fonts/Gilroy-Heavy.woff') format('woff'),
        url('/css/fonts/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/css/fonts/Gilroy-BoldItalic.eot');
    src: url('/css/fonts/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Gilroy-BoldItalic.woff2') format('woff2'),
        url('/css/fonts/Gilroy-BoldItalic.woff') format('woff'),
        url('/css/fonts/Gilroy-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/css/fonts/Gilroy-BlackItalic.eot');
    src: url('/css/fonts/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Gilroy-BlackItalic.woff2') format('woff2'),
        url('/css/fonts/Gilroy-BlackItalic.woff') format('woff'),
        url('/css/fonts/Gilroy-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/css/fonts/Gilroy-MediumItalic.eot');
    src: url('/css/fonts/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Gilroy-MediumItalic.woff2') format('woff2'),
        url('/css/fonts/Gilroy-MediumItalic.woff') format('woff'),
        url('/css/fonts/Gilroy-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/css/fonts/Gilroy-ThinItalic.eot');
    src: url('/css/fonts/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Gilroy-ThinItalic.woff2') format('woff2'),
        url('/css/fonts/Gilroy-ThinItalic.woff') format('woff'),
        url('/css/fonts/Gilroy-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/css/fonts/Gilroy-ExtraboldItalic.eot');
    src: url('/css/fonts/Gilroy-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Gilroy-ExtraboldItalic.woff2') format('woff2'),
        url('/css/fonts/Gilroy-ExtraboldItalic.woff') format('woff'),
        url('/css/fonts/Gilroy-ExtraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/css/fonts/Gilroy-HeavyItalic.eot');
    src: url('/css/fonts/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Gilroy-HeavyItalic.woff2') format('woff2'),
        url('/css/fonts/Gilroy-HeavyItalic.woff') format('woff'),
        url('/css/fonts/Gilroy-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/css/fonts/Gilroy-UltraLightItalic.eot');
    src: url('/css/fonts/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Gilroy-UltraLightItalic.woff2') format('woff2'),
        url('/css/fonts/Gilroy-UltraLightItalic.woff') format('woff'),
        url('/css/fonts/Gilroy-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/css/fonts/Gilroy-LightItalic.eot');
    src: url('/css/fonts/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Gilroy-LightItalic.woff2') format('woff2'),
        url('/css/fonts/Gilroy-LightItalic.woff') format('woff'),
        url('/css/fonts/Gilroy-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/css/fonts/Gilroy-Black.eot');
    src: url('/css/fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Gilroy-Black.woff2') format('woff2'),
        url('/css/fonts/Gilroy-Black.woff') format('woff'),
        url('/css/fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/css/fonts/Gilroy-ExtraBold.eot');
    src: url('/css/fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Gilroy-ExtraBold.woff2') format('woff2'),
        url('/css/fonts/Gilroy-ExtraBold.woff') format('woff'),
        url('/css/fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/css/fonts/Gilroy-Regular.eot');
    src: url('/css/fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Gilroy-Regular.woff2') format('woff2'),
        url('/css/fonts/Gilroy-Regular.woff') format('woff'),
        url('/css/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/css/fonts/Gilroy-UltraLight.eot');
    src: url('/css/fonts/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Gilroy-UltraLight.woff2') format('woff2'),
        url('/css/fonts/Gilroy-UltraLight.woff') format('woff'),
        url('/css/fonts/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/css/fonts/Gilroy-Semibold.eot');
    src: url('/css/fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('/css/fonts/Gilroy-Semibold.woff') format('woff'),
        url('/css/fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/css/fonts/Gilroy-Bold.eot');
    src: url('/css/fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Gilroy-Bold.woff2') format('woff2'),
        url('/css/fonts/Gilroy-Bold.woff') format('woff'),
        url('/css/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/css/fonts/Gilroy-Thin.eot');
    src: url('/css/fonts/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Gilroy-Thin.woff2') format('woff2'),
        url('/css/fonts/Gilroy-Thin.woff') format('woff'),
        url('/css/fonts/Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/css/fonts/Gilroy-Medium.eot');
    src: url('/css/fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Gilroy-Medium.woff2') format('woff2'),
        url('/css/fonts/Gilroy-Medium.woff') format('woff'),
        url('/css/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}