html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: "Gilroy";
}

div,
span,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gilroy";
}

#map {
  height: calc(100% - 61px);
  width: 100%;
  z-index: 1;
}

.iconBox {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 6px;
  max-height: 20px;
  background-color: #000;
}

.leaflet-bottom {
  bottom: 61px !important;
}

#detail {
  color: white;
}

#iconField {
  margin-left: 5px;
}

#category-choice {
  margin-left: 5px;
}

.multiselect {
  width: 200px;
  height: 400px;
  z-index: 3;
}

.selectBox {
  position: relative;
  z-index: 2;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
  z-index: 4;
}

#checkboxes label {
  display: block;
  color: white;
  background-color: black;
  opacity: 0.9;
}

#checkboxes label:hover {
  background-color: blue;
}

.ng-scope {
  z-index: 0 !important;
}

.checkboxes {
  height: 500px;
  overflow: scroll;
}
