.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* NAVBAR */
.text-header-vpc {
  //font-family: sans-serif;
  font-size: 18px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.white-mode {
  background-color: white;
  color: black;
}
.dark-mode {
  background-color: black;
  color: white;
}
.header-vpc {
  z-index: 5;
  display: grid;
  grid-template-areas: "how title vpc";
  padding-bottom: 20px;
  padding-top: 20px;
  line-height: 20px;
}
.button {
  cursor: pointer;
}

.header-visit-vpc {
  grid-area: vpc;
  cursor: pointer;
  text-decoration: none;
  text-align: right;
  margin-right: 15px;
  color: white;
}

a.header-visit-vpc:hover {
  color: orange !important;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 320px;
}

.info-popup-table {
  border-collapse: collapse;
}
.info-popup-table td {
  border: 1px solid black;
  padding: 3px;
}

.odd-info-popup-row {
  background-color: #cccccc;
}
.even-info-popup-row {
  background-color: #eeeeee;
}
.info-popup-more-info-row {
  font-family: sans-serif;
}
.info-popup-more-info-row > td {
  padding-top: 5px;
}

.back-button {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: blue;
  font-family: Oxygen, Helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
  float: left;
}
.back-button > span {
  font-size: 20px;
  position: absolute;
  top: 15px;
  left: 15px;
  font-weight: bold;
  color: white;
}
