<!doctype html>
<html lang="en" ng-app="storesapp">
  <head>
    <title>Venice Stores</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    
    <!-- angularjs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.7.8/angular-route.min.js"></script>

    <!-- local css -->
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/navbar.css"/>
    <link rel="stylesheet" type="text/css" href="css/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="css/detail.css"/>

    <!-- material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type='text/javascript' src='js/app.js'></script>
    <script type='text/javascript' src='js/map.js'></script>
    <script type='text/javascript' src='js/menu.js'></script>
    <script type='text/javascript' src='js/slider.js'></script>
    <script type='text/javascript' src='js/layer_data.js'></script>
    <script type='text/javascript' src='js/controller.js'></script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-47662945-1']);
      _gaq.push(['_setDomainName', 'veniceprojectcenter.org']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body ng-controller="MainCtrl as ctl">
    <div class="header-vpc dark-mode">
      <span 
        class="button dark-mode text-header-vpc my_link" 
        style="grid-area: how; margin-left: 15px;"
        ng-click="toAbout()">
        How it works
      </span>
      <span class="dark-mode text-header-vpc" style="grid-area: title; text-align: center;font-weight: bold;">
        Venice Stores
      </span>
      <a class="header-visit-vpc my_link" href="https://veniceprojectcenter.org" target="_blank">
        <span class="text-header-vpc">Visit VPC</span>
      </a>
    </div>

    <ng-view></ng-view>
    
    <form>
      <div class="multiselect">
        <div class="selectBox" onclick="showCheckboxes()">
          <select>
            <option>Choose category</option>
          </select>
          <div class="overSelect"></div>
        </div>
        <div class="checkboxes" id="checkboxes"></div>
      </div>
    </form>
      
    <div id="detail">
      <div style="position: fixed; font-size: 28px; margin-top: 20px; margin-left: 20px;">
        <span id="storename"></span>
      </div>
      <i class="material-icons" style="background-color: #f00;margin-left: 576px;color: #fff;" ng-click="ctl.closePop()">close</i>
      <div id="content"></div>
    </div>
  
  </body>
</html>
