#mapFilter{
    top: 0;
    right: 5vh;
    transform: translateY(8vh);
    height: fit-content;
    width: 15vw;
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: row;
}
#filter-title{
    margin: auto;
    color: white;
}