
#mapFilter{
    top: 10vh;
    right: 5vh;
    height: fit-content;
    width: fit-content;
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: row;
}
#filter-title{
    padding: 5%;
}