@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html, body, .content{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Arvo', serif;
}
h1{
    font-size: 4vh;
    font-weight: 800;
    color: white;

}
h2{
    color: white;
}
.content{
    display: flex;
    flex-direction: column;
}
.site-header{
    flex: 0 1 auto;
    height: fit-content;
    background-color: black;    
    display: flex;
    justify-content: center;
}
#menu{
    width: 3%;
    height: auto;
}
#page-title {
    text-align: center;
    margin: .25% auto;
}
.site-body{
    flex: 1 1 auto;
}
